html{
    scroll-behavior: smooth;
}

#container{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 90%);
}
header{
    width: 100%;
    padding: 10px;
    background-color: white;
}
header div{
    width: 45%;
    display: inline-block;
}
header aside{
    display: inline-block;
    align-self: right;
    width: 50%;
    text-align: right;
    vertical-align: top;
}
 header aside button{
     padding: 10px;
     border: none;
     background-color: white;
     color: orangered;
 }
#first-part{
   
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
    url(pictures/hiring.html);
    background-size:100% 100%;
    background-repeat:none;
    width: 100%;
    height: auto;
    padding: 30px;
    color: white;
}
#first-part #filter{
    width: 100%;
    background-color: black;
    padding: 10px;
}
#first-part #filter select{
    width: 27%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
#first-part #filter button{
    width: 10%;
    height: 45px;
    background-color: orangered;
    border: none;
}
#first-part #filter button:hover{
    opacity: 0.5;
}
#second-part{
    width: 100%;
    font-family: sans-serif;
    padding: 20px;
}
#second-part .jobs{
    display: inline-block;
    width: 18%;
    margin: 5px;
    background-color: #594346;
    padding: 10px;
    box-shadow: 4px 4px 4px 2px hsl(0, 0%, 30%);
    color: white;
}
#second-part .jobs button{
    background-color: #F22F08;
    color: white;
    border: none;
    padding: 5px;
}
#second-part .jobs h3{
    font-size: 20px;
}
#second-part #more{
    display: none;
}
#second-part button{
    display: block;
}
#third-part{
    width: 97%;
    text-align: center;
    box-shadow: 5px 5px 5px 2px hsl(0, 0%, 30%);
    margin: 20px;
    padding: 10px;
    background-color: white;
    
}
#third-part aside{
    display: inline-block;
    width: 29%;
    text-align: center;
    vertical-align: top;
}
#third-part aside i{
    color: white;
    font-size: 20px;
    background-color: orangered;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}
#third-part aside h4{
    margin: 10px;
}
#fourth-part{
    width: 90%;
    
}
#fourth-part form{
    text-align: left;
    position: relative;
left: 25rem;
}
#fourth-part input[type=text], #fourth-part input[type=email]{
    width: 40%;
    height: 40px;
    border: none;

}
#fourth-part input[type=submit]{
    background-color: orangered;
    border: none;
    width: 20%;
    color: white;
    margin: 10px;
    padding: 10px;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;
    margin-top: 10px;
}
footer .info{
    list-style-type: none;
    margin: 10px;
}
footer .info li{
    padding: 5px;
    display: inline-block;
    border-right: 1px solid white;
    color: white;
}
footer .icons{
    list-style-type: none;
}
footer .icons li{
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    
}





@media (max-width:480px){
    #first-part #filter select{
        width: 92%;
        display:block;
    }
    #first-part h1{
        font-size: 40px!important;
    }
    #first-part #filter button{
        width: 50%;
        margin-left: 10px;
    }
header aside{
    display: none;
}
#second-part .jobs{
    display: inline-block;
    width: 100%;
}
#third-part{
    margin: 5px;
}
#third-part aside{
    display: block;
    width: 90%;
}
footer .info li{
    display: block;
    border-right: none;
    width: 100%;
}
#fourth-part form{
    text-align: left;
    position: relative;
left: 1rem;
}
#fourth-part input[type=submit]{
    width: 60%;
}
#fourth-part input[type=text], #fourth-part input[type=email]{
    width: 90%;
}
#fourth-part{
margin: 5px;
}
footer .info{
    margin: 0px;
}
}
